# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyCyQT1Owi5-_F9HOi5xkTmZSWaAtQ3UIZQ
VITE_FIREBASE_AUTH_DOMAIN=plataforma-ep.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=plataforma-ep
VITE_FIREBASE_STORAGE_BUCKET=plataforma-ep.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=167186069204
VITE_FIREBASE_APP_ID=1:167186069204:web:f95eee755e2be4c8a1ad41

# Groq API
VITE_GROQ_API_KEY=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
